<div class="toc"></div>

<script src="https://cdn.jsdelivr.net/npm/tocbot@4.5.1/dist/tocbot.min.js"
    integrity="sha256-/ckfJgTIsKUdmu0l4sDCwy4esp5MDVjYmY905r9Nt3M=" crossorigin="anonymous"></script>
<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.post-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h2, h3, h4',
        // Timeout between events firing to make sure it's
        // not too rapid (for performance reasons).
        throttleTimeout: 200
    });
</script>
