<div id="toc"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.12.1/ui/widget.min.js"></script>
<script type="text/javascript" src="{{asset "built/jquery.tocify.js"}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset "built/jquery.tocify.css"}}" />
<script>
    var toc = $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // select headers to be displayed
        extendPage: false, // extend the bottom if page is not long enough
        highlightDefault: false, // set the first as active by default
        hashGenerator: "pretty",
        hideEffectSpeed: "fast",
        scrollTo: 80 // avoid text under the header bar
    });
    $(document).scroll(function () {
        var y = $(this).scrollTop();
        if (y > 1000 && $(window).width() > 1400) {
            $('#toc').fadeIn();
        } else {
            $('#toc').fadeOut();
        }
    });
</script>
