.katex {
    font-size: 2rem;
}
th .katex {
    font-size: 1.5rem;
}
.katex-display {
    margin: 0.5rem 0 0 0;
}
.katex-display > .katex > .katex-html {
    width: 95vw;
    overflow-x: auto;
    overflow-y: hidden;
}
/* Also fix word breaks for code elements here */
.post-full-content p code {
    word-break: normal;
}
