.toc {
    visibility: hidden;
    z-index: 101;
    position: fixed;
    left: 1%;
    top: 20%;
    font-family: inherit;
}
.toc-active {
    visibility: visible;
}
.toc > .toc-list {
    overflow: hidden;
    position: relative;
}
.toc > .toc-list li {
    list-style: none;
}
.toc-list {
    margin: 0;
    padding-left: 10px;
}
a.toc-link {
    color: currentColor;
    height: 100%;
}
.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.is-collapsed {
    max-height: 0;
}
.is-position-fixed {
    position: fixed !important;
    top: 0;
}
.is-active-link {
    font-weight: 700;
}
.toc-link::before {
    background-color: #eee;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
}
.is-active-link::before {
    background-color: #54bc4b;
}
/* CSS hamburger menu https://codepen.io/erikterwan/pen/EVzeRP */
.menu-toggle {
    display: none;
}
@media (max-width: 1400px) {
    /* Hide tocbot on small screens */
    .toc {
        display: none;
    }

    .menu-toggle {
        display: block;
        position: relative;
        user-select: none;
        right: 1rem;
        top: 0.15rem;
    }

    .menu-toggle-button {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;

        opacity: 0; /* hide this */
        z-index: 4; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    .menu-toggle span {
        text-decoration: none;

        display: block;
        width: 2.4rem;
        height: 0.4rem;
        margin-bottom: 0.4rem;
        position: relative;
        /* Color for the hamburger menu */
        background: #3c484e;
        border-radius: 0.25rem;

        z-index: 3;
        transition: all 300ms ease;
        will-change: transform, opacity;
    }
    .menu-toggle span:first-of-type {
        top: 0;
    }
    .menu-toggle span:last-of-type {
        bottom: 0;
    }

    /*
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .menu-toggle-active span:first-of-type {
        transform: translateY(0.8rem) rotateZ(-45deg);
    }
    /* Hide the one in the middle */
    .menu-toggle-active span:nth-last-of-type(2) {
        opacity: 0;
    }
    /* The last one should go the other direction */
    .menu-toggle-active span:last-of-type {
        transform: translateY(-0.8rem) rotateZ(45deg);
    }

    /* Menu background */
    .toc-menu {
        position: fixed;
        display: block;
        width: 90vw;
        max-width: 500px;
        height: 100vh;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        padding-top: 4rem;

        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.15);
        -webkit-font-smoothing: antialiased;

        transition: transform 250ms cubic-bezier(0.77, 0.2, 0.05, 1);
        will-change: transform;
        transform: translateX(100%);
    }
    .menu-toggle-active .toc-menu {
        transform: none;
    }

    .toc-menu-background {
        position: fixed;
        visibility: hidden;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: transparent;
    }

    .menu-toggle-active .toc-menu-background {
        visibility: visible;
    }

    .toc-menu-list {
        z-index: 5;
        font-family: inherit;
        font-size: 2rem;
        padding: 0;
    }

    .toc-menu-list > .toc-list {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .toc-menu-list a {
        color: currentColor;
        height: 100%;
    }

    .toc-level-h2 {
        margin-left: 1rem;
        font-weight: 700;
    }
    .toc-level-h3 {
        margin-left: 3rem;
    }
    .toc-level-h4 {
        margin-left: 5rem;
        font-weight: 300;
    }
}
