/* Underline headers when linked */
.post-full-content h2:focus,
.post-full-content h3:focus,
.post-full-content h4:focus {
    outline: none;
    text-decoration: underline;
}

/* Fixed header when clicking on TOC */
.post-full-content h2,
.post-full-content h3,
.post-full-content h4 {
    padding-top: 8rem;
    margin-top: -8rem !important;
}

/* Fix word breaks for long code elements */
.post-full-content p code {
    word-break: normal;
}
/* Fix footnote on small screens */
@media (max-width: 800px) {
    .footnotes {
        width: 95vw;
    }
}

/* Add margin to comment section as the authors section was removed */
.post-full-comments {
    margin-top: 5rem;
}
